form {
    border: 2px double lightgrey;
    margin-bottom: 25px;
    padding:10px;
    max-width: 46%;
}


.assign, .add-store, .all-stores, div.all-brands:nth-child(2) {
    float:left;
    width: 46%;
}

.add, .add-brand, .all-brands {
    float:right;
    width: 46%;
}

hr, .clear, h1 {
    clear:both;
}

.delete, .edit {
    float:left;
    margin-top: 100px;
    height: 155px;
}

li {
    list-style: none;
}
